.header-container {
  display: flex;
  justify-content: space-between;
}

.header-wrapper {
  display: flex;
  justify-content: center;

  .header-title {
    padding-right: 20px;
    border-right: 1px solid rgba($color: #000000, $alpha: .3);
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;

    &:first-of-type {
      margin: 0 10px 0 20px;
    }

    &.router-link-active {
      color: #ffc107;
    }

    &:hover {
      opacity: .3;
    }
  }
}
